ABOUT-NLS
Makefile
Makefile.in
*~
aclocal.m4
autom4te.cache
build-aux/*
config.cache
config.log
config.status
configure
libtool
lib/*
,*
stamp-h[0-9]
stamp-po
doc/man/skribilo.1
src/skribilo
src/skribilo-config
src/pre-inst-skribilo
src/guile/skribilo/config.scm
*.go
*.go.*
po/*.gmo
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/skribilo.pot