@font-face {
  font-family: "Linux Libertine";
  src: url("LinLibertine_Rah.ttf");
}

@font-face {
  font-family: "Linux Biolinum";
  src: url("LinBiolinum_Rah.ttf");
}

@font-face {
  font-family: Hack;
  src: url("Hack-Regular.ttf");
}

body {
  font-family: "Linux Libertine", serif;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Linux Biolinum", sans;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #842;
}

a:hover {
  text-decoration: underline;
}

code, pre, tt {
  font-family: Hack, mono;
  font-size: 0.8em;
}

div.navtabs-title {
  background: url("gears-up.png"), url("graphy.png");
  background-position: bottom;
  background-repeat: repeat-x;
  padding: 30px;
  text-align: center;
  font-size: 3em;
  min-height: 70px;
}

div.navtabs-tabs {
  background: white;
  line-height: 1.5em;

  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

div.navtabs-tabs > a {
  margin: 15px 15px;
}

div.skribilo-title {
  font-size: 3em;
  font-weight: bold;
}

div.skribilo-body {
  padding: 15px 30px;
  margin: auto;
  max-width: 800px;
  background: white;
  line-height: 1.5em;
  text-align: justify;
}

div.skribilo-ending {
  background: url("gears-down.png"), url('graphy.png');
  background-position: bottom;
  background-repeat: repeat-x;
  padding: 15px;
  padding-top: 70px;
  text-align: right;
}
